body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
.navbar {
  height: 60px;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.navbar-a {
  color: red;
}
.navbar-a:hover {
  cursor: pointer;

  color: #f0b90a !important;
}
/* .navbar {
  overflow: hidden;
  height: 50px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%; 
}
.navbar-brand {
  width: 10%;
  height: fit-content;
} */
.navbarIcon {
  margin-left: 30px;
  padding-left: 20px;
}

.oa-footer__logo-img {
  margin: 15px;
  width: 50px;
  height: 40px;
  opacity: 0;

  animation: fadeInOut 12s infinite;
}

.oa-footer__logo-img:nth-child(1) {
  animation-delay: 0s;
}

.oa-footer__logo-img:nth-child(2) {
  animation-delay: 4s;
}

.oa-footer__logo-img:nth-child(3) {
  animation-delay: 8s;
}

.oa-footer__logo-img:nth-child(4) {
  animation-delay: 12s;
}
/* .oa-footer__logo-img:nth-child(5) {
  animation-delay: 16s;
}
.oa-footer__logo-img:nth-child(6) {
  animation-delay: 20s;
}
.oa-footer__logo-img:nth-child(7) {
  animation-delay: 24s;
}
.oa-footer__logo-img:nth-child(8) {
  animation-delay: 28s;
}
.oa-footer__logo-img:nth-child(9) {
  animation-delay: 32s;
}
.oa-footer__logo-img:nth-child(10) {
  animation-delay: 36s;
} */

@keyframes fadeInOut {
  10%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/* Hide extra images on mobile devices */
/* Hide images on mobile devices except the center image */
.togbtn {
  border: none;
  width: 0;
  display: none;
  /* height: 0;
  overflow: hidden;
  background-color: #f0b90a; */
}
.navbar-toggler-icon {
  margin-top: 6px;

  width: 100px;
  height: 100px;
  color: aliceblue;
}
@media (max-width: 768px) {
  .hide-on-mobile-except-center {
    display: none;
  }
  .hideClass {
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: block;
  }
  .togbtn {
    display: inline-block; /* Or use 'block', depending on your layout needs */
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    outline: none;
    overflow: hidden;
    border-radius: 10px;
    background-color: #686503;
  }
}
